<?php
// basic configuration - mandatory
$device = 'tasmota'; // possible options: fritzbox, tasmota, shelly3em, shelly, envtec, ahoydtu, esp-epever-controller
$host = 'tasmotaplug4'; // host name or ip address of measuring device (not needed for envtec)
$refresh_rate = 2; // refresh rate of index.php in seconds

// custom units and labels
$unit1 = ''; // defaults to "W" if not set; unit of first value; usually this is power, but may be also current or something else
$unit1_label = ''; // defaults to "Leistung" if not set; usually something like "Verbrauch", "Produktion", "Ertrag", etc.; for backwards compatibility $produce_consume will be used, if set
$unit1_label_in = ''; // defaults to "Bezug" if not set; if negative values are detected, this label is used for positive values (instead of $unit1_label)
$unit1_label_out = ''; // defaults to "Einspeisung" if not set; if negative values are detected, this label is used for negative values
$unit2 = ''; // defaults to "°C" if not set; unit of second value; usually this is temperature, but may be also voltage, state of charge or something else
$unit2_label = ''; // defaults to "Temperatur" if not set
$unit3 = ''; // defaults to "W" if not set; unit of third value
$unit3_label = ''; // defaults to "L1" if not set
$unit4 = ''; // defaults to "W" if not set; unit of fourth value
$unit4_label = ''; // defaults to "L2" if not set
$unit5 = ''; // defaults to "W" if not set; unit of fifth value
$unit5_label = ''; // defaults to "L3" if not set

// optional configuration
$rounding_precision = 0; // set the number of decimal digits to round to for displaying/logging various values like °C, W and Wh (if possible)
$power_threshold = 0; // minimum required power to display/log power value (may be required if micro inverter has measurable consumption at night); can be float value like 0.25

// additional configuration for fritzbox
$user = ''; // user name
$pass = ''; // password
$ain = ''; // "Aktor Identifikationsnummer (AIN)", on your FRITZ!Box go to "Heimnetz > Smart Home" and edit your device to get the AIN

// additional configuration for Envertech Bridge
$station_id = ''; // station ID

// additional configuration for AhoyDTU
$inverter_id = 0; // if multiple inverters are configured in DTU, set to desired inverter ID

// logging configuration
$log_file_dir = 'data/'; // log file directory (cronjob on log.php must be set to enable logging)
$log_rate = 6; // how often should data be gathered per minute
$use_cache = false; // use latest data from log file to display power on index.php; can also be disabled dynamically with parameter 'nocache'
$log_extra_array = 0; // store array of last x measurements in separate file (e.g. to use them in another app); set to 0 to disable

// chart configuration
$fix_axis_y = 0; // fix chart to specific value, set to 0 to calculate automatically
$res = 5; // default resolution of data in minutes; possible options: 1, 2, 3, 4, 5, 6, 10, 15, 20, 30, 60; set to -1 to display all data
$unit2_display = false; // display temperature (or whatever custom unit/label is configured), if available
$unit2_min = false; // fix lower value of "temperature" to specific value, set to "false" to calculate automatically
$unit2_max = false; // fix upper value of "temperature" to specific value, set to "false" to calculate automatically
$power_details_resolution = 50; // display the duration the device produces/consumes at least a specific amount of power (and its total); set to 0 to disable; example: set the value to 50 and it will display data for <= 50 W, <= 100 W, <= 150 W etc. / set the value to 100 and it will display data for <= 100 W, <= 200 W, etc.

// additional logging configuration
$host_external = 'https://example.com/my_folder/'; // additional external host for logging and display - must end with trailing slash (/)! - keep empty or comment out to disable
$host_auth_key = 'abc123'; // auth key must match on external host
$log_external_only = false; // set to "true" if you don't want to keep the log data on your local device after it has been successfully transmitted to the external host

//EOF
